*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}
html, 
body{
  height: 100%;
  width: 100%;
}
.card1{
  background-color: pink;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.nav{
  background-color: aqua;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 16px;
}

.parent{
padding: 20px;
display: flex;
flex-wrap: wrap;
}

.card{
  width: 350px;
  border: 1px solid bisque;
  padding: 20px;
  margin: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: aquamarine;
}

.card button{
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(147, 147, 239);
}

.card img{
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
}